main {
  padding: 60px;
}

.boxOne {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: blue;
  margin-bottom: 100px;
}

.boxTwo{
  text-align: center;
  background-color: red;
  width: 200px;
  height: 250px;
  border: 1px solid black;
}